<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>538153412800-rjf1kt4sedfs2ricu1k4bq33hie57om1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.538153412800-rjf1kt4sedfs2ricu1k4bq33hie57om1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>538153412800-jv21a18lc0uv0ehsgn5vij5omfehqj4a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-cW8y0WLi6jkk7Hqntx7sC1BTECOg8xQ</string>
	<key>GCM_SENDER_ID</key>
	<string>538153412800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ipredict.ipredict</string>
	<key>PROJECT_ID</key>
	<string>iprdict-sha-project</string>
	<key>STORAGE_BUCKET</key>
	<string>iprdict-sha-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:538153412800:ios:2d149d84a7a63b00eea525</string>
</dict>
</plist>